@use './breakpoints' as *;

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  src: url(../../public/fonts/FiraCode-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter */
@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../../public/fonts/Inter-Light.ttf) format('ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../../public/fonts/Inter-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../../public/fonts/Inter-Medium.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../../public/fonts/Inter-SemiBold.ttf) format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: url(../../public/fonts/Inter-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 2rem;
  line-height: 1.4;

  @include mq('small') {
    font-size: 2.4rem;
  }
}

a {
  font-size: 1.125rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: var(--mid-grey);
}

.link {
  color: var(--primary-blue);
  text-decoration-line: underline;
  text-decoration-color: #c7c7c7;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;

  transition-property: color, text-decoration-color;
  transition-duration: 300ms;

  &:hover {
    text-decoration-color: var(--mid-grey);
    color: var(--secondary-blue);
  }
}
