@use './breakpoints' as *;

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  src: url(../../public/fonts/FiraCode-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* DM Sans */
@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../../public/fonts/DMSans-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../../public/fonts/DMSans-Italic.ttf) format('ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../../public/fonts/DMSans-Medium.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../../public/fonts/DMSans-MediumItalic.ttf) format('ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../../public/fonts/DMSans-Bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans', sans-serif;
  src: url(../../public/fonts/DMSans-BoldItalic.ttf) format('ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

h1 {
  font-size: 2rem;

  @include mq('small') {
    font-size: 2.5rem;
  }
}

p {
  font-size: 1.125rem;
  opacity: 0.9;
  line-height: 1.75rem;
}
