@use './reset';
@use './breakpoints';
@use './typography';
@use './prism';
@use './container';

:root {
  --primary-dark: #181818;
  --primary-blue: #314b9a;
  --secondary-blue: #16307e;
  --mid-grey: #374151;
}

html {
  font-family: 'Inter', sans-serif;
  color: var(--primary-dark);
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}
