---
import Layout from "@components/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout metaTitle={post.data.title} metaDescription={post.data.description}>
  <section class="container">
    <time>
      {
        new Date(post.data.publishDate).toLocaleDateString("en-GB", {
          day: "numeric",
          month: "long",
          year: "numeric",
        })
      }
    </time>
    <article class="rich-text flow">
      <Content />
    </article>
  </section>
</Layout>

<style lang="scss">
  time {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: 0.875rem;
    opacity: 0.5;
  }

  :global(h1) {
    margin-bottom: 2rem;
  }
</style>
