---
import Layout from '@components/Layout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'blog'>
}

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog')
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout metaTitle={post.data.title} metaDescription={post.data.description}>
  <section>
    <time>
      {
        new Date(post.data.publishDate).toLocaleDateString('en-GB', {
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        })
      }
    </time>
    <div class="rich-text flow">
      <Content />
    </div>
  </section>
</Layout>

<style lang="scss">
  time {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 300;
    font-size: 0.875rem;
    opacity: 0.5;
  }

  .title {
    margin: 1rem 0 2rem 0;
  }
</style>
