---
import Layout from "@components/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

interface Props {
  allBlogPosts: CollectionEntry<"blog">;
}

const allBlogPosts = await getCollection("blog").then((collection) =>
  collection.sort((a, b) => {
    return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
  })
);
---

<Layout
  metaTitle="Blog | Louie Richardson"
  metaDescription="Writing mainly about development and anything else that interests me."
>
  <section>
    <h1 class="title">Blog Posts</h1>
    <ul class="blog-list">
      {
        allBlogPosts.map((post) => (
          <li>
            <time datetime={`${post.data.publishDate}`}>
              {new Date(post.data.publishDate).toLocaleDateString('en-GB')}
            </time>
            <a class="link" href={`/blog/${post.slug}`}>
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
    <div>
      <h2 class="title small">Other Publications</h2>
      <ul>
        <li>
          <time datetime="2023-23-12">23/12/2023</time>
          <a
            href="https://24days.in/umbraco-cms/2023/sustainable-performant/astronomically-performant/"
            target="_blank"
          >
            Astro-nomically Performant Websites using the Content Delivery API
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use '@styles/_breakpoints' as *;

  .title {
    &.small {
      font-size: 1.1rem;
    }
  }

  ul {
    margin-top: 1.5rem;
    list-style: none;

    li {
      margin-bottom: 1.75rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 0.5rem;

      @include mq("small") {
        flex-direction: row;
        margin-bottom: 1.5rem;
      }
    }

    time {
      display: block;
      font-size: 0.875rem;
      font-weight: 400;
      opacity: 0.5;

      @include mq("small") {
        order: 2;
      }
    }
  }

  .blog-list {
    margin-bottom: 3rem;
  }
</style>
