@use './breakpoints' as *;

/* Fira Code */
@font-face {
  font-family: 'Fira Code';
  src: url(../../public/fonts/FiraCode-Regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist */
@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../public/fonts/Geist-Thin.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../public/fonts/Geist-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../public/fonts/Geist-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../public/fonts/Geist-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../public/fonts/Geist-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url(../../public/fonts/Geist-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:is(h1, h2, h3, h4) {
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  font-size: clamp(1.8rem, 5vw, 2rem);
}

h2 {
  font-size: clamp(1.6rem, 4vw, 1.8rem);
}

h3 {
  font-size: clamp(1.4rem, 3vw, 1.6rem);
}

h4 {
  font-size: clamp(1.2rem, 2vw, 1.4rem);
}

p {
  font-weight: 300;
  line-height: 1.75rem;

  strong {
    font-weight: 400;
  }
}

a {
  font-weight: 400;
  color: var(--color-fg);
  text-decoration-line: underline;
  text-decoration-color: hsl(200, 90%, 50%);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
