/* Jet Brains */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Geist */
@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geist', sans-serif;
  src: url('/fonts/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:is(h1, h2, h3, h4) {
  font-weight: 400;
  line-height: 1.25;
}

h1 {
  font-size: clamp(1.4rem, 5vw, 1.5rem);
}

h2 {
  font-size: clamp(1.3rem, 4vw, 1.4rem);
}

h3 {
  font-size: clamp(1.2rem, 3vw, 1.3rem);
}

h4 {
  font-size: clamp(1.125rem, 2vw, 1.2rem);
}

p {
  font-weight: 400;
  line-height: 1.75rem;
}

a {
  font-weight: 500;
  color: var(--color-fg);
  text-decoration-line: underline;
  text-decoration-color: var(--bright-blue);
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  transition: color 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: var(--bright-blue);
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    text-align: left;
    padding: 0.5rem;
    border-bottom: 1px solid
      color-mix(in srgb, var(--color-fg), var(--color-bg) 80%);
  }
}

.task-list-item {
  display: block;
}

.title {
  font-weight: 500;
}

p code {
  background-color: color-mix(in srgb, var(--color-fg), var(--color-bg) 90%);
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid color-mix(in srgb, var(--color-fg), var(--color-bg) 80%);
}
