@use './reset';
@use './breakpoints' as *;
@use './typography';

html {
  --bright-blue: hsl(200, 90%, 50%);
  --color-bg: hsl(0, 0%, 98%);
  --color-fg: hsl(0, 0%, 8%);
  --scrollbar-color: hsl(0, 0%, 70%);
  --scrollbar-track: hsl(0, 0%, 90%);
  --font-primary: 'Geist', sans-serif;
  --font-code: 'JetBrains Mono';

  font-family: var(--font-primary);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track);

  &.dark {
    --color-bg: hsl(0, 0%, 8%);
    --color-fg: hsl(0, 0%, 95%);
    --scrollbar-color: hsl(0, 0%, 20%);
    --scrollbar-track: hsl(0, 0%, 10%);
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  -webkit-font-smoothing: antialiased;
}

main {
  padding: 2rem 0 3rem;

  @include mq('small') {
    padding: 2.5rem 0 4rem;
  }
}

.container {
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;

  @include mq('small') {
    padding: 0 1.5rem;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.rich-text {
  ul,
  ol {
    padding-left: 1.75rem;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
  }
}

.astro-code {
  margin: 2rem 0;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 18%);

  code {
    font-family: var(--font-code);
    font-size: 1rem;
  }
}
