@use './reset';
@use './breakpoints';
@use './typography';
@import './breakpoints';

:root {
  --color-bg: hsl(0, 0%, 5%);
  --color-fg: hsl(0, 0%, 95%);

  @media (prefers-color-scheme: light) {
    --color-bg: hsl(0, 0%, 95%);
    --color-fg: hsl(0, 0%, 5%);
  }
}

html {
  font-family: 'Geist', sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

main {
  padding: 2rem 0;
}

.container {
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;

  @include mq('small') {
    padding: 0 1.5rem;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.rich-text {
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
  }
}

.astro-code {
  margin: 2.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid #2e2e2e;

  code {
    font-family: 'Fira Code';
    font-size: 1rem;
  }
}
