@use "./reset";
@use "./breakpoints";
@use "./typography";
@import "./breakpoints";

:root {
  --bright-blue: hsl(200, 90%, 50%);

  --color-bg: hsl(0, 0%, 8%);
  --color-fg: hsl(0, 0%, 95%);

  @media (prefers-color-scheme: light) {
    --color-bg: hsl(0, 0%, 95%);
    --color-fg: hsl(0, 0%, 8%);
  }
}

html {
  font-family: "Geist", sans-serif;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}

main {
  padding: 3rem 0;
}

.container {
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;

  @include mq("small") {
    padding: 0 1.5rem;
  }
}

.flow > * + * {
  margin-top: var(--flow-space, 1.25em);
}

.rich-text {
  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
  }
}

.astro-code {
  margin: 2.5rem 0;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 18%);

  code {
    font-family: "Fira Code";
    font-size: 1rem;
  }
}
