---
import { Prism } from '@astrojs/prism'

interface Props {
  node: {
    code: string
    filename: string
    language: string
  }
}

const {
  node: { code, filename, language }
} = Astro.props
---

<div class="container">
  <Prism lang={language} code={code} />
</div>

<style>
  .container {
    margin: 2rem 0;
  }
</style>
