---
import { PortableText } from 'astro-portabletext'
import type { PortableTextBlock } from '@portabletext/types'

// Components
import Link from './Link.astro'
import Image from './Image.astro'
import Code from './Code.astro'

interface Props {
  richText: PortableTextBlock[]
}

const { richText } = Astro.props

const components = {
  mark: {
    link: Link
  },
  type: {
    image: Image,
    code: Code
  }
}
---

<div class="flow">
  <PortableText value={richText} {components} />
</div>
