---
import Layout from "@components/Layout.astro";
---

<Layout
  metaTitle="404 | Page not found"
  metaDescription="The page you were looking for unfortunately does not exist"
  noIndex={true}
>
  <section>
    <h1 class="title">Page not found</h1>
    <p class="description">
      The page you were looking for unfortunately does not exist.
    </p>
    <a href="/">Return to the homepage</a>
  </section>
</Layout>

<style lang="scss">
  @use '@styles/_breakpoints' as *;

  section {
    padding: 2rem 0;

    @include mq("small") {
      padding: 5rem 0;
    }
  }

  .title {
    margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 1rem;
  }
</style>
