<header>
  <nav>
    <a href="/" class="name">Louie Richardson</a>
    <ul>
      <li><a href="/blog">Blog</a></li>
      <li><a href="mailto:louie@louierichardson.com">Contact</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  @import "@styles/_breakpoints";

  header {
    padding: 1.5rem 0 0.5rem;
  }

  .name {
    font-weight: 500;
    font-size: 1.15rem;
    margin-bottom: 0.5rem;

    @include mq(small) {
      margin-bottom: 0;
    }
  }

  nav {
    display: flex;
    flex-direction: column;

    @include mq(small) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  a {
    font-weight: 400;
    color: var(--color-fg);
    text-decoration: none;
    transition: 200ms color ease;

    &:hover,
    &:focus {
      color: var(--bright-blue);
    }
  }
</style>
