---
import Image from 'astro/components/Image.astro';
import headerImage from '@assets/louie-richardson.jpeg';
---

<header>
  <nav>
    <div class="intro">
      <a href="/">
        <Image
          src={headerImage}
          alt="Louie Richardson"
          loading="eager"
          class="image"
        />
      </a>
      <div>
        <a href="/">
          <p class="name">Louie Richardson</p>
        </a>
        <p class="position">Front-end Developer</p>
      </div>
    </div>
    <ul>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="mailto:louie@louierichardson.com">Contact</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
  @import "@styles/_breakpoints";

  header {
    padding-top: 1.5rem;
  }

  .intro {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .name {
    font-size: 1.125rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .position {
    font-size: 0.825rem;
    line-height: 1;
    opacity: 0.8;
  }

  nav {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    @include mq(small) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
  }

  a {
    font-weight: 400;
    color: var(--color-fg);
    text-decoration: none;
    transition: 200ms color ease;

    &:hover,
    &:focus {
      color: var(--bright-blue);
    }
  }

  .image {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: 200ms transform ease;

    &:hover,
    &:focus {
      transform: scale(1.2);
      border: 1px solid var(--bright-blue);
    }
  }
</style>
