---
import { ViewTransitions } from "astro:transitions";
import SEO from "@components/SEO.astro";
import Header from "@components/Header.astro";
import "@styles/main.scss";

interface Props {
  metaTitle: string;
  metaDescription: string;
  noIndex?: boolean;
}

const { metaTitle, metaDescription, noIndex } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    {noIndex && <meta name="robots" content="noindex" />}
    <SEO title={metaTitle} description={metaDescription} />
    <ViewTransitions />
  </head>
  <body class="container">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
