---
import { Icon } from "astro-icon/components";

interface Map {
  [key: string]: string;
}

const socialIcons: Map = {
  // Used as filename from /src/icons/filename.svg in astro-icon
  github: "github",
  linkedIn: "linkedin",
  x: "x",
  rss: "rss",
};

const socialLinks = [
  {
    type: "github",
    link: "https://github.com/LouieRichardson99",
  },
  {
    type: "linkedIn",
    link: "https://www.linkedin.com/in/louie-richardson/",
  },
  {
    type: "x",
    link: "https://twitter.com/Louie_Rich99",
  },
  {
    type: "rss",
    link: "/rss.xml",
  },
];
---

{
  socialLinks.length > 0 && (
    <ul class="list">
      {socialLinks.map((social) => (
        <li>
          <a href={social.link} class="link" aria-label={`${social.type} link`}>
            <Icon name={socialIcons[social.type]} />
          </a>
        </li>
      ))}
    </ul>
  )
}

<style lang="scss">
  .list {
    list-style: none;
    display: flex;
    gap: 0.75rem;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }
  }

  .link {
    svg {
      width: 1.25rem;
      height: 1.25rem;
      object-fit: contain;
      color: var(--color-fg);
      transition: 200ms color ease;
    }

    &:hover,
    &:focus {
      svg {
        color: var(--bright-blue);
      }
    }
  }
</style>
