---
import { getAllPages } from '@lib/api'
import type { Page } from '@types'

export async function getStaticPaths() {
  const allPages: Page[] = await getAllPages()

  return allPages.map((page: Page) => ({
    params: { slug: page.slug.current },
    props: { page }
  }))
}

const { page } = Astro.props
---

<h1>{page?.title}</h1>
