<footer>
  <div class="text-wrapper container">
    <a href="/sitemap-index.xml" class="sitemap">Sitemap</a>
    <p class="copyright">© {new Date().getFullYear()} Louie Richardson</p>
  </div>
</footer>

<style lang="scss">
  footer {
    padding: 1rem 0;
  }

  .sitemap {
    color: var(--dark-grey);
    font-size: 0.875rem;
    text-decoration: none;
  }

  .text-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    color: var(--dark-grey);
    font-size: 0.875rem;
  }
</style>
