---
import SEO from '@components/SEO.astro'
import Header from '@components/Header/index.astro'
import '@styles/main.scss'
import type { Image } from '@types'
import Footer from './Footer.astro'

export interface Props {
  metaTitle: string
  metaDescription: string
  metaImage?: Image
  noIndex?: boolean
}

const { metaTitle, metaDescription, metaImage, noIndex } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    {noIndex && <meta name="robots" content="noindex" />}
    <meta name="generator" content={Astro.generator} />
    <SEO title={metaTitle} description={metaDescription} image={metaImage} />
    <script defer src="https://app.tinyanalytics.io/pixel/gEWXCpAoHkAv2kuv"
    ></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
