---
import type { InternalLink } from '@types'
import linkResolver from '@utils/linkResolver'

interface Props {
  newTab?: boolean | null
  internal?: InternalLink
  external?: string | null
  class?: string
}

const { newTab, internal, external, class: className } = Astro.props

const href = linkResolver({ newTab, internal, external })
const rel = href?.startsWith('/') ? undefined : 'noreferrer noopener'
---

{
  href === null && (
    <span>
      <slot />
    </span>
  )
}

<a href={href} rel={rel} target={newTab ? '_blank' : '_self'} class={className}
  ><slot /></a
>

<style lang="scss">
  a {
    text-decoration-line: underline;
    text-decoration-color: #c7c7c7;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
    transition: 300ms;
    color: var(--primary-blue);

    &:hover {
      text-decoration-color: var(--mid-grey);
      color: var(--secondary-blue);
    }
  }
</style>
